body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

html {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100%;
}

section {
    scroll-snap-align: start;
    flex-wrap: wrap;
    
}

.opener {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./imgs/catmove.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}

.opener .title {
    font-size: 100px;
    position: absolute;
    top: 0;
    color: white;
    margin: 0;
    padding: 0;

}

.inputWrapper {
    width: 200px;
    padding: 15px 20px 15px 10px;
    background: white;
    background: transparent;
    box-shadow: 1px 10px 50px black;
    backdrop-filter: blur(3px);
    border-radius: 7px;

}

.inputWrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.inputWrapper .input-data input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 17px;
    font-weight: 0;
    line-height: 1;
    color: white;
    background: transparent;
    line-height: 100;
    transform: translateY(5px);

}

.inputWrapper .input-data label {
    position: absolute;
    left: 36%;
    font-size: 20px;
    bottom: 10px;
    transition: all 0.3s ease;
    color: white;
    pointer-events: none;
}

input:focus {
    outline: none;
}

input:active ~ label{
    transform: translateY(-20px);
    font-size: 17px;
    color: #4158d0;
}

.input-data input:focus ~ label {
    transform: translateY(-20px);
    font-size: 17px;
    color: black;
}

.inputWrapper .input-data .underline {
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 105%;
}

.input-data .underline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before{
    transform: scaleX(1);
    color: #4158d0;
}

.listPlayer {
    height: 40px;
    width: 170px;
    color: white;
    display: flex;
    font-size: large;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 50px black;
    backdrop-filter: blur(3px);
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30%;
    width: 50%;
    gap: 5px;

}

.roundTitle {
    font-size: 40px;
    position: absolute;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 90vh;
}

.round {
    height: 100vh;
    width: auto;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    scroll-snap-align: start;
    background-size: cover;
}

.white {
    font-size: 40px;
    position: absolute;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 70vh;
}

.black {
    font-size: 40px;
    position: absolute;
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 70vh;
}

.card {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    gap: 10px;
    transition: transform .2s ease;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card.winner {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.card.tie {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(125, 125, 125, 0.75);
    color: black;
}

.matchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#next,
.statButton {
    width: 100vh;
    height: 8vh;
    font-size: larger;
    color: white;
    position: absolute;
    margin-top: 92vh;
    background: transparent;
    border: none;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s ease;
    box-shadow: 1px 10px 50px black;

    
}

button#next:hover,
.statButton {
    transform: scale(1.1);
    box-shadow: 1px 10px 50px black;
    backdrop-filter: blur(3px);
}

.wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    width: 50%;
    height: 100px;
    margin: 0;
    padding: 0;
    gap: 0;
}

.statTitle {
    font-size: 100px;
    position: absolute;
    color: white;
    margin: 0;
    padding: 0;
}

.statCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    background-color: wheat;
    margin: 10px;
    position: relative;
    background: transparent;
    box-shadow: 1px 10px 50px black;
    backdrop-filter: blur(3px);
    color: white;
    gap: 5px;

}

.statBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    width: 50%;
}

.statBackground {
    background-image: url('./imgs/cat.jpeg');
    
}

.crown {
    height: 70px;
    width: 150px;
    position: absolute;
    top: 0;
    background-image: url('./imgs/crowncut.gif');
    background-size: cover;
    background-position: 50% 50%;
}



