body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.opener {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./imgs/chesscat.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}

input {
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: 0;
    padding: 0px 10px;
    border-radius: 10px 10px;
    border: 1px solid white;
    background: transparent;
}

input:focus {
    border: 2px dotted black;
}


input:focus {
    outline: none;
}



.round {
    height: 100vh;
    width: auto;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 10px;
    transition: transform .2s ease;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card.winner {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.matchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.listPlayer {
    height: 40px;
    width: 170px;
    color: white;
    display: flex;
    font-size: large;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 50px black;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

button.nextPage {
    width: 100%;
    height: 8vh;
    font-size: larger;
    position: absolute;
    color: white;
    bottom: 0%;
    background: transparent;
    border: none;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s ease;
}

button.nextPage:hover {
    transform: scale(1.2);
    box-shadow: inset 10px 10px 30px black;
}